@font-face {
    font-family: 'Arita-Bold';
    src: url('./fonts/Arita-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Arita-SemiBold';
    src: url('./fonts/Arita-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Arita-Medium';
    src: url('./fonts/Arita-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Arita-Buri-Hairline';
    src: url('./fonts/Arita-Buri-Hairline.woff') format('woff');
}

@font-face {
    font-family: 'Arita-Buri-Light';
    src: url('./fonts/Arita-Buri-Light.woff') format('woff');
}

@font-face {
    font-family: 'Bombaram';
    src: url('./fonts/Bombaram.woff') format('woff');
}

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Bombaram;
}

#yonsei {
    width: 100px;
}

#logo {
    width: 100px;
}

.header {
    width: 100%;
    margin: 10px auto;
}

#selection {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    font-family: Arita-Medium;
}

.selection {
    margin: 50px;
}

nav {
    margin: 10px 0;
    font-family: Arita-SemiBold;
}

li {
    display: inline-block;
    margin: 0 20px 0 auto;
}

ul {
    display: inline-block;
}

#nav1 {
    margin: 0 14% 0 auto;
}

a {
    text-decoration: none;
}

.navlink {
    color: black;
}